@font-face {
    font-family: 'Digital7';
    src: url('assets/digital-7\ \(mono\ italic\).ttf'), url('assets/digital-7\ \(mono\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    font-family: "Digital7", sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
    width: 250px;
    height: 400px;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.display {
    display: flex;
    align-self: stretch; 
    justify-content: flex-end;
    align-items: center;
    color: #85FFBD;
    width: 230px;
    height: 100px;
    background-color: #1d1160;
    padding: 10px;
    font-size: 42px; 
    border-radius: 10px 10px 0 0;
    
}

.buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

.buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px; 
    font-weight: bold;
    
}
